@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(https://fonts.google.com/specimen/Nunito+Sans); */
/* <style> */
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
/* </style> */

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
